@media print {
  body * {
    visibility: hidden;
  }
  .print-area, .print-area * {
    visibility: visible;
  }
  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 58mm;
    padding: 10px;
    font-family: monospace;
    text-align: center;
  }
  button {
    display: none !important;
  }
}